<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Sunflower Seeds </h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\sunflower seeds.webp" style="width: 900px;" />
      </section>
      <section>
        <b>Sunflower Seeds </b>are popular in trail mix, multi-grain bread and nutrition bars, as well as for snacking straight from the bag.

        They’re rich in healthy fats, beneficial plant compounds and several vitamins and minerals.
       <i> Sunflower seeds are technically the fruits of the sunflower plant (Helianthus annuus)</i>

        The seeds are harvested from the plant’s large flower heads, which can measure more than 12 inches (30.5 cm) in diameter. A single sunflower head may contain up to 2,000 seeds
        <br>
        The sunflower seeds you eat are encased in inedible black-and-white striped shells, also called hulls.
        Those used for extracting sunflower oil have solid black shells.
        Sunflower seeds have a mild, nutty flavor and a firm but tender texture.
        They’re often roasted to enhance the flavor, though you can also buy them raw.
        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>  Rich In Antioxidants</li>
          <li>  Aids In Weight Loss</li>
          <li>  Fuels With Energy </li>
          <li>  Boosts Heart Health</li>
          <li>  Excellent For Skin</li>
          <li>  Great For Detoxification</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Sunflower seeds
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\sunflower seeds.webp" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Sunflower Seeds </b>are popular in trail mix, multi-grain bread and nutrition bars, as well as for snacking straight from the bag.

        They’re rich in healthy fats, beneficial plant compounds and several vitamins and minerals.
       <i> Sunflower seeds are technically the fruits of the sunflower plant (Helianthus annuus)</i>

        The seeds are harvested from the plant’s large flower heads, which can measure more than 12 inches (30.5 cm) in diameter. A single sunflower head may contain up to 2,000 seeds
        <br>
        The sunflower seeds you eat are encased in inedible black-and-white striped shells, also called hulls.
        Those used for extracting sunflower oil have solid black shells.
        Sunflower seeds have a mild, nutty flavor and a firm but tender texture.
        They’re often roasted to enhance the flavor, though you can also buy them raw.
        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>  Rich In Antioxidants</li>
          <li>  Aids In Weight Loss</li>
          <li>  Fuels With Energy </li>
          <li>  Boosts Heart Health</li>
          <li>  Excellent For Skin</li>
          <li>  Great For Detoxification</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
