<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Ginger</h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\ginger.jpg" style="width: 900px;" />
      </section>
      <section>
        <b>Ginger </b> is among the healthiest (and most delicious) spices on the planet.
        It is loaded with nutrients and bioactive compounds that have powerful benefits for your body and brain.
        Ginger originated from Island Southeast Asia. It is a true cultigen and does not exist in its wild state.
        The most ancient evidence of its domestication is among the Austronesian peoples where it was among several species of ginger
        cultivated and exploited since ancient times. <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Ginger can treat many forms of nausea, especially morning sickness	</li>
          <li>	Ginger may reduce muscle pain and soreness</li>
          <li>	The anti-inflammatory effects can help with osteoarthritis</li>
          <li>	Ginger may drastically lower blood sugars and improve heart disease risk factors</li>
          <li>	Ginger can help treat chronic indigestion</li>
          <li>  Ginger powder may significantly reduce menstrual pain</li>
          <li>  May lower cholesterol levelsLower Blood Sugar Levels</li>
          <li>Ginger contains a substance that may help prevent cancer</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Ginger
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\ginger.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Ginger </b> is among the healthiest (and most delicious) spices on the planet.
        It is loaded with nutrients and bioactive compounds that have powerful benefits for your body and brain.
        Ginger originated from Island Southeast Asia. It is a true cultigen and does not exist in its wild state.
        The most ancient evidence of its domestication is among the Austronesian peoples where it was among several species of ginger
        cultivated and exploited since ancient times. <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Ginger can treat many forms of nausea, especially morning sickness	</li>
          <li>	Ginger may reduce muscle pain and soreness</li>
          <li>	The anti-inflammatory effects can help with osteoarthritis</li>
          <li>	Ginger may drastically lower blood sugars and improve heart disease risk factors</li>
          <li>	Ginger can help treat chronic indigestion</li>
          <li>  Ginger powder may significantly reduce menstrual pain</li>
          <li>  May lower cholesterol levelsLower Blood Sugar Levels</li>
          <li>Ginger contains a substance that may help prevent cancer</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
