<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Coriander</h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\coriander.jpg" style="width: 900px;" />
      </section>
      <section>
        <b>Coriander </b> is an herb that’s commonly used to flavor international dishes.

        It comes from the Coriandrum sativum plant and is related to parsley, carrots, and celery.

        In the United States, Coriandrum sativum seeds are called coriander, while its leaves are called cilantro.
        In other parts of the world, they’re called coriander seeds and coriander leaves. The plant is also known as Chinese parsley.
        Many people use coriander in dishes like soups and salsas, as well as Indian,
        Middle Eastern, and Asian meals like curries and masalas. Coriander leaves are often used whole, whereas the seeds are used dried or ground.
        <br><br>
         <b>Benefits are:</b><br>
        <ul>
          <li>	May help lower blood sugar 	</li>
          <li>	Rich in immune-boosting antioxidants</li>
          <li>	May benefit heart health</li>
          <li>	May protect brain health</li>
          <li>	May promote digestion and gut health</li>
          <li>  May fight infections </li>
          <li>  May protect your skin</li>
          <li>  Easy to add to your diet</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Coriander
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\coriander.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Coriander </b> is an herb that’s commonly used to flavor international dishes.

        It comes from the Coriandrum sativum plant and is related to parsley, carrots, and celery.

        In the United States, Coriandrum sativum seeds are called coriander, while its leaves are called cilantro.
        In other parts of the world, they’re called coriander seeds and coriander leaves. The plant is also known as Chinese parsley.
        Many people use coriander in dishes like soups and salsas, as well as Indian,
        Middle Eastern, and Asian meals like curries and masalas. Coriander leaves are often used whole, whereas the seeds are used dried or ground.
        <br><br>
         <b>Benefits are:</b><br>
        <ul>
          <li>	May help lower blood sugar 	</li>
          <li>	Rich in immune-boosting antioxidants</li>
          <li>	May benefit heart health</li>
          <li>	May protect brain health</li>
          <li>	May promote digestion and gut health</li>
          <li>  May fight infections </li>
          <li>  May protect your skin</li>
          <li>  Easy to add to your diet</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
