<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Cardamom</h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\cardamom.jpg" style="width: 900px;" />
      </section>
      <section>
            <b>Cardamom </b>is a spice with an intense, slightly sweet flavor that some people compare to mint.

            It originated in India but is available worldwide today and used in both sweet and savory recipes.

            The seeds, oils and extracts of cardamom are thought to have impressive medicinal properties
            and have been used in traditional medicine for centuries.<br>
            <b>Benefits are:</b><br>
            <ul>
              <li>	Antioxidant and Diuretic Properties May Lower Blood Pressure	</li>
              <li>	May Contain Cancer-Fighting Compounds</li>
              <li>	May Protect from Chronic Diseases Thanks to Anti-Inflammatory Effects</li>
              <li>	May Help with Digestive Problems, Including Ulcers</li>
              <li>	May Treat Bad Breath and Prevent Cavities</li>
              <li>  May Improve Breathing and Oxygen Use</li>
              <li>  May Lower Blood Sugar Levels</li>

            </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Cardamom
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\cardamom.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Cardamom </b>is a spice with an intense, slightly sweet flavor that some people compare to mint.

        It originated in India but is available worldwide today and used in both sweet and savory recipes.

        The seeds, oils and extracts of cardamom are thought to have impressive medicinal properties
        and have been used in traditional medicine for centuries.<br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Antioxidant and Diuretic Properties May Lower Blood Pressure	</li>
          <li>	May Contain Cancer-Fighting Compounds</li>
          <li>	May Protect from Chronic Diseases Thanks to Anti-Inflammatory Effects</li>
          <li>	May Help with Digestive Problems, Including Ulcers</li>
          <li>	May Treat Bad Breath and Prevent Cavities</li>
          <li>  May Improve Breathing and Oxygen Use</li>
          <li>  May Lower Blood Sugar Levels</li>

        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
