<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Turmeric</h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\turmeric.jpg" style="width: 900px;" />
      </section>
      <section>
        <b>Turmeric </b> is a spice that comes from the turmeric plant. It is commonly used in Asian food.
        You probably know turmeric as the main spice in curry. It has a warm, bitter taste and is frequently used to flavor or color curry powders,
         mustards, butters, and cheeses. But the root of turmeric is also used widely to make medicine.<i> It contains a yellow-colored chemical</i>
         called <b>Curcumin</b>, which is often used to color foods and cosmetics. <br>
         Turmeric is commonly used for conditions involving pain and inflammation, such as osteoarthritis. It is also used for hay fever, depression, high cholesterol, a type of liver disease, and itching. Some people use turmeric for heartburn, thinking and memory skills, inflammatory bowel disease, stress, and many other conditions, but there no good scientific evidence to support these uses.
        <br><br>
         <b>Benefits are:</b><br>
        <ul>
          <li>	Turmeric Contains Bioactive Compounds With Powerful Medicinal Properties	</li>
          <li>	Curcumin Is a Natural Anti-Inflammatory Compound</li>
          <li>	Dramatically Increases the Antioxidant Capacity of the Body</li>
          <li>	Curcumin Boosts Brain-Derived Neurotrophic Factor, Linked to Improved Brain Function and a Lower Risk of Brain Diseases</li>
          <li>	Curcumin Should Lower Your Risk of Heart Disease</li>
          <li>  Can Help Prevent (And Perhaps Even Treat) Cancer  </li>
          <li>  Curcumin May Be Useful in Preventing and Treating Alzheimer's Disease</li>
          <li>  Arthritis Patients Respond Very Well to Curcumin Supplements</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Turmeric
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\turmeric.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Turmeric </b> is a spice that comes from the turmeric plant. It is commonly used in Asian food.
        You probably know turmeric as the main spice in curry. It has a warm, bitter taste and is frequently used to flavor or color curry powders,
         mustards, butters, and cheeses. But the root of turmeric is also used widely to make medicine.<i> It contains a yellow-colored chemical</i>
         called <b>Curcumin</b>, which is often used to color foods and cosmetics. <br>
         Turmeric is commonly used for conditions involving pain and inflammation, such as osteoarthritis. It is also used for hay fever, depression, high cholesterol, a type of liver disease, and itching. Some people use turmeric for heartburn, thinking and memory skills, inflammatory bowel disease, stress, and many other conditions, but there no good scientific evidence to support these uses.
        <br><br>
         <b>Benefits are:</b><br>
        <ul>
          <li>	Turmeric Contains Bioactive Compounds With Powerful Medicinal Properties	</li>
          <li>	Curcumin Is a Natural Anti-Inflammatory Compound</li>
          <li>	Dramatically Increases the Antioxidant Capacity of the Body</li>
          <li>	Curcumin Boosts Brain-Derived Neurotrophic Factor, Linked to Improved Brain Function and a Lower Risk of Brain Diseases</li>
          <li>	Curcumin Should Lower Your Risk of Heart Disease</li>
          <li>  Can Help Prevent (And Perhaps Even Treat) Cancer  </li>
          <li>  Curcumin May Be Useful in Preventing and Treating Alzheimer's Disease</li>
          <li>  Arthritis Patients Respond Very Well to Curcumin Supplements</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
