<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Sesame Seeds </h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\sesame seeds.jpg" style="width: 900px;" />
      </section>
      <section>
        <b>Sesame Seeds </b>are tiny, oil-rich seeds that grow in pods on the Sesamum indicum plant.

        Unhulled seeds have the outer, edible husk intact, while hulled seeds come without the husk.
        <br>
        The hull gives the seeds a golden-brown hue. Hulled seeds have an off-white color but turn brown when roasted.

        Sesame seeds have many potential health benefits and have been used in folk medicine for thousands of years.
        They may protect against heart disease, diabetes, and arthritis.

        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Triggers Hair Growth</li>
          <li>	Anti-ageing properties</li>
          <li>  Boosts Skin Health </li>
          <li>  Boosts Dental Health</li>
          <li>  Boosts Digestion</li>
          <li>  Good Source of Energy</li>
          <li>  Stabilizes your blood pressure</li>
          <li>  Boosts bone health</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Sesame seeds
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\sesame seeds.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Sesame Seeds </b>also known as <i>black cumin</i>,
        nigella or by its scientific name Nigella sativa, kalonji belongs to the buttercup family of flowering plants.
        <br>
        It grows up to 12 inches (30 cm) tall and produces a fruit with seeds that are used as a flavorful spice in many cuisines.
        In addition to its culinary use, kalonji is known for its medicinal properties.
        In fact, its use can be traced back several centuries as a natural remedy for everything from bronchitis to diarrhea

        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Packed With Antioxidants</li>
          <li>	May Lower Cholesterol</li>
          <li>	Could Have Cancer-Fighting Properties </li>
          <li>  Can Help Kill off Bacteria</li>
          <li>  May Alleviate Inflammation</li>
          <li>  Could Help Protect the Liver</li>
          <li>  Can Aid in Blood Sugar Regulation</li>
          <li>  May Prevent Stomach Ulcers</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
