<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Nigella Seeds </h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\nigella seeds.jpg" style="width: 900px;" />
      </section>
      <section>
        <b>Nigella Seeds </b>also known as <i>black cumin</i>,
        nigella or by its scientific name Nigella sativa, kalonji belongs to the buttercup family of flowering plants.
        <br>
        It grows up to 12 inches (30 cm) tall and produces a fruit with seeds that are used as a flavorful spice in many cuisines.
        In addition to its culinary use, kalonji is known for its medicinal properties.
        In fact, its use can be traced back several centuries as a natural remedy for everything from bronchitis to diarrhea

        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Packed With Antioxidants</li>
          <li>	May Lower Cholesterol</li>
          <li>	Could Have Cancer-Fighting Properties </li>
          <li>  Can Help Kill off Bacteria</li>
          <li>  May Alleviate Inflammation</li>
          <li>  Could Help Protect the Liver</li>
          <li>  Can Aid in Blood Sugar Regulation</li>
          <li>  May Prevent Stomach Ulcers</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Nigella seeds
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\nigella seeds.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Nigella Seeds </b>also known as <i>black cumin</i>,
        nigella or by its scientific name Nigella sativa, kalonji belongs to the buttercup family of flowering plants.
        <br>
        It grows up to 12 inches (30 cm) tall and produces a fruit with seeds that are used as a flavorful spice in many cuisines.
        In addition to its culinary use, kalonji is known for its medicinal properties.
        In fact, its use can be traced back several centuries as a natural remedy for everything from bronchitis to diarrhea

        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Packed With Antioxidants</li>
          <li>	May Lower Cholesterol</li>
          <li>	Could Have Cancer-Fighting Properties </li>
          <li>  Can Help Kill off Bacteria</li>
          <li>  May Alleviate Inflammation</li>
          <li>  Could Help Protect the Liver</li>
          <li>  Can Aid in Blood Sugar Regulation</li>
          <li>  May Prevent Stomach Ulcers</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
