<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
  <section>
    <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <section>
        <h1 class="heading">Lin Seeds </h1>
      </section>
      <section>
        <img src="assets\Images\Products\spices\linseeds.jpg" style="width: 800px;" />
      </section>
      <section>
        <b>Lin seeds </b>also known as <i>Flax seeds</i><br>
        For centuries, flax seeds have been prized for their health-protective properties.

        In fact, Charles the Great ordered his subjects to eat flax seeds for their health.
         So it's no wonder they acquired the name <i>Linum usitatissimum</i>, meaning "the most useful.
        <br>
        Flaxseed was cultivated in Babylon as early as 3000 BC. In the 8th century, King Charlemagne believed so strongly in the health benefits of
        flaxseed that he passed laws requiring his subjects to consume it. Now, thirteen centuries later, some experts say we have preliminary research
        to back up what Charlemagne suspected.
        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Flax Seeds Are Loaded With Nutrients</li>
          <li>	Flax Seeds Are High in Omega-3 Fats</li>
          <li>	Flax Seeds Are a Rich Source of Lignans, Which May Reduce Cancer Risk</li>
          <li>  Flax Seeds May Improve Cholesterol</li>
          <li>  Flax Seeds Are Rich in Dietary Fiber </li>
          <li>  Flax Seeds May Lower Blood Pressure</li>
          <li>  They Contain High-Quality Protein</li>
          <li>  Flax Seeds May Help Control Blood Sugar</li>
        </ul>
      </section>
      <section>
        <app-enquire></app-enquire>
      </section>
  <section>
    <!-- <app-spices-navigation></app-spices-navigation> -->
  </section>
</div>
<div fxFlex fxLayoutAlign="center" fxHide.gt-md>
  <mat-card>
    <mat-card-title class="cardheading" fxLayoutAlign="center">
      Lin seeds
    </mat-card-title>
    <img mat-card-image src="assets\Images\Products\spices\linseeds.jpg" class="mobimg" />
    <mat-card-content>
      <section>
        <b>Lin seeds </b>also known as <i>Flax seeds</i><br>
        For centuries, flax seeds have been prized for their health-protective properties.

        In fact, Charles the Great ordered his subjects to eat flax seeds for their health.
         So it's no wonder they acquired the name <i>Linum usitatissimum</i>, meaning "the most useful.
        <br>
        Flaxseed was cultivated in Babylon as early as 3000 BC. In the 8th century, King Charlemagne believed so strongly in the health benefits of
        flaxseed that he passed laws requiring his subjects to consume it. Now, thirteen centuries later, some experts say we have preliminary research
        to back up what Charlemagne suspected.
        <br>
        <b>Benefits are:</b><br>
        <ul>
          <li>	Flax Seeds Are Loaded With Nutrients</li>
          <li>	Flax Seeds Are High in Omega-3 Fats</li>
          <li>	Flax Seeds Are a Rich Source of Lignans, Which May Reduce Cancer Risk</li>
          <li>  Flax Seeds May Improve Cholesterol</li>
          <li>  Flax Seeds Are Rich in Dietary Fiber </li>
          <li>  Flax Seeds May Lower Blood Pressure</li>
          <li>  They Contain High-Quality Protein</li>
          <li>  Flax Seeds May Help Control Blood Sugar</li>
        </ul>
      </section>
<!-- <app-spices-navigation></app-spices-navigation><br><br> -->
      <app-enquire></app-enquire>
    </mat-card-content>
  </mat-card>
</div>
